.jumboState-enter {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
    .jumboState-enter-active {
        opacity: 1;
    }
}

.jumboState-leave {
    opacity: 1;
    transition: opacity 300ms ease-in;
    .jumboState-leave-active {
        opacity: 0.01;
    }
}
