<div class="jumbotron" ng-hide="formEmpty()">
  <div class="container">
    <h1><a href="/">word<small>soup</small></a></h1>
  </div>
</div>

<div id="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form class="form">
          <div class="input-group">
            <input ng-model="rack" ng-change="submit()" class="form-control" type="text" placeholder="Put your characters/rack here!" autofocus autocomplete="off">

            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" ng-click="resetForm()">Clear</button>
            </span>
          </div>
        </form>
      </div>

      <!-- rack echo -->
      <div class="col-xs-12 col-md-6 col-md-offset-3" ng-cloak>
        <h4><small>{{ rackClean() }}</small></h4>
      </div>

      <!-- chosen words -->
      <div class="col-xs-12 col-md-6 col-md-offset-3" ng-cloak>
          <ul class="list-inline">
            <li ng-repeat="word in chosen">
            <span class="label label-success" ng-click="delWord(word)">{{ word[0] }}<sup ng-show="scrabbleMode">{{ word[1] }}</sup></span>
            </li>
          </ul>
      </div>

      <div class="modal fade" role="dialog" id="options">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Options</h4>
            </div>

            <div class="modal-body">
              <form class="form">
                <div class="input-group">
                  <span class="input-group-addon">
                    Limit word count by:
                  </span>
                  <input class="form-control" type="number" ng-model="limitBy" ng-change="submit()">
                </div>
                <hr>
                <div class="input-group">
                  <span class="input-group-addon">
                    Enable scrabble mode:
                  </span>
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="scrabbleMode">
                  </span>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" ng-show="formEmpty()">
        <div class="panel panel-default" ng-repeat="result in results.data">
          <div class="panel-heading">
            {{ result.count }} characters <small>({{ result.num }} words)</small>
          </div>
          <div class="panel-body">
            <div class="col-md-2 col-xs-4 col-sm-3" ng-repeat="word in result.words">
              <a ng-click="wordSelect(word)">{{ word[0] }}<sup ng-show="scrabbleMode"><strong>{{ word[1] }}</strong></sup></a>
            </div>
          </div>
        </div>
      </div>
      <div class="opt-nav">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#options">
          <span class="glyphicon glyphicon-tasks"></span>
        </button>
      </div>
    </div>
  </div>
</div>
