<div class="jumbotron" ng-hide="formEmpty()">
  <div class="container">
    <h1><a href="/">word<small>soup</small></a></h1>
  </div>
</div>

<div class="opt-nav">
  <div class="container">
    <button class="btn btn-primary btn-lg btn-block btn-opt" data-toggle="modal" data-target="#options">Options</button>
  </div>
</div>

<div id="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <form class="form">
          <div class="input-group">
            <input ng-model="rack" ng-change="submit()" class="form-control" type="text" placeholder="Put your characters/rack here!" autofocus autocomplete="off">

            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" ng-click="resetForm()">Clear</button>
            </span>
          </div>
        </form>
      </div>
      <div class="col-xs-12 col-md-12" ng-cloak>
        <h4><small>{{ rackClean() }}</small></h4>
      </div>
      <div class="modal fade" role="dialog" id="options">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Options</h4>
            </div>
            <div class="modal-body">
              <form class="form">
                <div class="input-group">
                  <span class="input-group-addon">
                    Limit word count by:
                  </span>
                  <input class="form-control" type="number" ng-model="limitBy" ng-change="submit()">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-12 col-sm-12" ng-repeat="result in results.data" ng-show="formEmpty()">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{ result.count }} characters <small>({{ result.num }} words)</small>
          </div>
          <div class="panel-body">
            <div class="col-md-2 col-xs-4 col-sm-3" ng-repeat="word in result.words">
              <a ng-click="wordSelect(word)">{{ word }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
