{% extends "base.html" %}

{% block content %}
<ws-nav></ws-nav>
<div ng-view></div>
{% endblock content %}
{% block compressjs %}
{% load staticfiles %}
<script src="{% static 'app/app.js' %}"></script>
<script src="{% static 'app/controllers/solver.js' %}"></script>
<script src="{% static 'app/services/resource.js' %}"></script>
<script src="{% static 'app/services/static.js' %}"></script>
<script src="{% static 'app/filters/charsonly.js' %}"></script>
<script>
angular.module('wordsoup')
	.constant('STATIC_URL', '/static/')
	.constant('API_URL', '/api/solve/')
	.constant('REF_URL', '/api/refresh/');
</script>
{% endblock compressjs %}
