.jumbotron h1, .jumbotron h1 a, .jumbotron h1 a:visited, .jumbotron h1 a:active {
    margin-top: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.25em;
    font-family: 'Lobster', sans-serif;
}

h1 small {
    color: rgb(0, 0, 0);
}

.jumbotron {
    background: rgb(40, 143, 235);
    position: relative;
    text-align: center;
}

li a, li a:visited, li a:active {
    color: rgb(0, 0, 0);
}

ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;
    margin-top: 1em;
}

.col-md-12 {
    margin: 1em auto 0.5em;
}

.table-responsive {
    overflow-x: auto;
}

h4 {
    text-align: center;
}
#rstr {
    margin-bottom: -10em;
}
