{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>word soup</title>
	<link rel="stylesheet" href="{% static 'vendor/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'words/collapse.css' %}">
	<link rel="stylesheet" href="{% static 'words/site.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster" type="text/css">

	<script type='text/javascript' src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
</head>
<body>
	{% block content %}
	{% endblock content %}
</body>
</html>
