{% extends 'words/base.html' %}{% load bootstrap3 %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1><a href="/">word<small>soup</small></a></h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <form action="" method="post" class="form">
                <div class="input-group">
                    {% csrf_token %}
                    <input class="form-control" id="id_rack" maxlength="100" name="rack" placeholder="Input letter rack" required="required" type="text" autofocus>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </span>
                </div>
            </form>
			<button type="submit" id="sendrack" class="btn btn-default"></button>
		</div>
        {% if rack_str %}
        <div class="col-xs-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <h4><small>{{ rack_str }}</small></h4>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <h4><small>Total time: {{ time_taken }}</small></h4>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if data %}
        {% for ccount, words in data.items %}
        <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ ccount }} characters
                </div>
                <div class="panel-body">
                    {% for word in words %}
                    <div class="col-md-2 col-xs-4 col-sm-3">
                        <a href="http://merriam-webster.com/dictionary/{{ word }}">{{ word }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}
