{% extends 'words/base.html' %}{% load bootstrap3 %}
{% block scripts %}{% load staticfiles %}
<script type='text/javascript' src="{% static 'words/solve.js' %}"></script>
{% endblock %}

{% block header %}
<div class="jumbotron">
	<div class="container">
		<h1><a href="/">word<small>soup</small></a></h1>
	</div>
</div>
{% endblock header %}

{% block content %}
<div class="container-fluid">
	<div ng-controller="HttpPostController">
		<form ng-submit="SendHttpPostData()">
			<div class="input-group">
				<input class="form-control" maxlength=100 name="letters" ng-model="letters" type="text">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">Submit</button>
				</span>
			</div>
		</form>
	</div>
	{{ ServerResponse }}
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<form action="" method="post" class="form">
			<div class="input-group">
				{% csrf_token %}
				<input class="form-control" id="id_rack" maxlength="100" name="rack" placeholder="Input letter rack" required="required" type="text" autofocus>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">Submit</button>
				</span>
			</div>
		</form>
	</div>

	{% if data %}
	<div class="col-xs-12 col-md-12">
		<h4><small>{{ rack_str }} (took about {{ time_taken }}s to solve)</small></h4>
	</div>

	{% for character_count, words in data.items %}
	<div class="col-xs-12 col-md-12 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ character_count }} characters
			</div>
			<div class="panel-body">
				{% for word in words %}
				<div class="col-md-2 col-xs-4 col-sm-3">
					<a href="http://merriam-webster.com/dictionary/{{ word }}">{{ word }}</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>
{% endblock content %}
