{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>wordsoup{% if debug %} (D){% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="root"></div>
  <script>
  var apiUrl = '/api/solve/';
  {% if debug %}
  apiUrl = 'http://localhost:8000/api/solve/';
  {% endif %}
  </script>
  <script src="{% static 'dist/bundle.js'%}"></script>
</body>
</html>
