.jumbotron h1, .jumbotron h1 a, .jumbotron h1 a:visited, .jumbotron h1 a:active {
    margin-top: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.25em;
    font-family: 'Lobster', sans-serif;
}

.container-fluid {
    margin-top: 1.5em;
}

h1 small {
    color: rgb(0, 0, 0);
}

.jumbotron {
    background: rgb(40, 143, 235);
    position: relative;
    text-align: center;
}

h4, .panel-heading {
    text-align: center;
}

.panel {
    margin-bottom: 0;
}

.menu-btn {
    position: fixed;
    z-index: 9998;
    top: 90%;
    left: 4%;
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.1em;
    padding: 6px 0;
    line-height: 1.428571429;
    border-radius: 25px;
    font-family: 'Lobster', sans-serif;
}

.modal {
    z-index: 9999;
}
